<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-light no-animation" ion-wizard-previous>
      Atrás
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-light no-animation" ion-wizard-next>
      Siguiente
    </button>
  </ion-nav-buttons>
  <ion-slide-box ion-wizard>
    <ion-slide ion-wizard-step>
      <ion-wizard-content class="has-header">
        <div class="list card">
          <div class="item item-image">
            <img ng-src="{{urlForImage()}}" />
          </div>
          <div class="padding">
            <button class="button button-block button-calm" ng-click="addImage()">Camara</button>
            <button class="button button-block button-calm" ng-click="addImage(true)">Album</button>
          </div>
        </div>
      </ion-wizard-content>
    </ion-slide>
    <ion-slide ion-wizard-step next-condition="report.title && report.details">
      <ion-wizard-content class="has-header">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Ingrese título" ng-model="report.title">
          </label>
          <label class="item item-input">
            <textarea placeholder="Descripción" ng-model="report.details"></textarea>
          </label>
        </div>

      </ion-wizard-content>
    </ion-slide>
    <ion-slide ion-wizard-step class="has-header">
      <div class="list cards">
        <label class="item item-input">
          <input type="text" placeholder="Ingrese título" ng-model="report.title">
        </label>
        <label class="item item-input">
          <textarea placeholder="Descripción" ng-model="report.details"></textarea>
        </label>
        <div class="padding">
          <button class="button button-block button-calm" ng-click="confirmReport()">Reportar</button>
        </div>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>
